{% extends 'base.html.twig' %}

{% block body %}
<article id="{{ article.id }}">
    <h2 class="mt-5 mb-2">{{ article.title }}</h2>
    <div class="metadata">Created on {{ article.createdAt | date ('d/m/Y')}} in the field of politics</div>
    <div class="content">
        <img src="{{ article.image }}" alt="Main Image">
        {{ article.content | raw}}
    </div>
</article>
{% endblock %}
